*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  color: #555;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

.navEditContainer {
  width: 100%;
  min-width: 500px;
  max-width: 700px;
  padding: 0px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #E9EFFC;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
}

.nav-content {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.navEditContainer label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  border: 1px solid transparent;
}

.navEditContainer .hidden {
  display: none;
}

.navEditContainer label:hover {
  color: #3B5998;
  cursor: pointer;
}

.navEditContainer .hidden label {
  color: #3B5998;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  background-color: #E9EFFC;
}

.navEditContainer .hidden:checked+label {
  color: white;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  background-color: #3B5998;
}

.font-editor {
  display: grid;
  grid-template-columns: auto;
}

.font-editor div label, .font-editor div select, .font-editor div input {
  width: 200px;
}

#Main:checked~#nav-main-details, #Color:checked~#nav-color-details, #Font:checked~#nav-font-details, #Hover:checked~#nav-hover-details {
  display: block;
}

.addNewLinkBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #3B5998;
  color: white;
  margin-left: 14px;
}

.main {
  display: flex;
  flex-direction: column;
}

.addLinkDiv {
  margin-bottom: 10px;
  margin-left: 20px;
}

.newLinkHref, .newLinkTitle {
  height: 30px;
  border-radius: 3px;
  margin-left: 45px;
}

.paddingInputForNavbar {
  height: 30px;
  border-radius: 3px;
  margin-left: 46px;
}

.addNewLinkBtn:hover {
  background-color: #EF5552;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.floatInner, .editFloat {
  height: 35px;
  border-radius: 16px;
  background-color: #3B5998;
  color: white;
  width: 70px;
  margin-left: 10px;
  padding: 5px;
}

.linksAddedToNavbar {
  height: 35px;
  border-radius: 16px;
  background-color: #3B5998;
  color: white;
  width: 120px;
  margin-left: 10px;
  padding: 5px;
}

.floatInner:hover {
  background-color: #EF5552;
}

.select-items {
  height: 50px;
  width: 30px;
}

.positionContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.previewCss {
  width: 80%;
  padding: 0.2em 0.8em;
  margin-top: 0px;
  border: 1px gray solid;
  margin-top: 0px;
}

.navPreview {
  margin-left: 15%;
  margin-top: 45px;
}

.label {
  padding-left: 35px;
  padding-top: 45px;
}

.heightInputForNavbar, .nav-hover-input-HEX, .nav-hover-input-RGB, .nav-color-input-HEX, .nav-color-input-RGB {
  height: 30px;
  border-radius: 3px;
  margin-left: 22px;
}

.navbarPosition {
  margin-left: 32px;
}

.labelForAddingLinkBtn {
  padding-left: 10px;
}

.generateCodeButton {
  background-color: #EF5552;
  color: white;
  border-radius: 16px;
  height: 35px;
  width: 200px;
  font-weight: bold;
  margin: 0 auto;
}

.generateCodeButton:hover {
  background-color: #F4CA19;
  color: #3B5998;
}

.GenerateCodeDiv {
  text-align: center;
  margin-top: 10px;
}

.navbarWidth {
  margin-left: 4px;
}

.newLinkFloat {
  padding-left: 15px;
}

.cssCode {
  text-align: left;
  background-color: #E9EFFC;
  border-radius: 10px;
  width: 20%;
  height: 400px;
  padding: 15px;
  float: left;
  margin-left: 330px;
  max-height: none;
}

.htmlCode {
  text-align: left;
  background-color: #E9EFFC;
  border-radius: 10px;
  width: 20%;
  height: 400px;
  padding: 15px;
  float: right;
  margin-right: 330px;
  max-width: 20%;

  height:auto;

/* height:auto !important;        /* for IE as it does not support min-height */ */
overflow: scroll;
margin-bottom: 100px;
}

.backToEditing, .copybtn {
  background-color: #EF5552;
  height: 30px;
  width: 60px;
  border-radius: 16px;
  color: white;
  float: left;
}

.resultContainer {
  display: none;
  margin-top: 80px;
  margin-bottom: 120px;
}

.preview {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #9bbef7;
  margin-bottom: 50px;
}

li {
  float: left;
  text-align: center;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  text-decoration: none;
}

.editBtn {
  background-color: #3B5998;
  color: white;
  border-radius: 16px;
  height: 35px;
  width: 70px;
  font-weight: bold;
  margin-bottom: 30px;
}

#navbarLinks {
  height: 35px;
  border-radius: 16px;
  background-color: #3B5998;
  color: white;
  width: 85px;
  margin-left: 41px;
  padding: 5px;
}

#navbarLinks, .color-select, #font-style, #font-weight, #font-family {
  height: 35px;
  border-radius: 16px;
  background-color: #3B5998;
  color: white;
  width: 85px;
  margin-left: 41px;
  /* padding: 5px; */
}

#nav-color-link-option {
  margin-left: 141px;
}

#nav-color-active-link-option {
  margin-left: 100px;
}

#htmlMsg, #cssMsg {
  color: green;
}
