* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 87px;
  height: 74px;
  text-align: left;
  margin-left: 30px
}

body {
  color: #555;
  background: white;
}

header, footer {
  background-color: #3B5998;
  padding-top: 15px;
  display: flex;
  width: 100%;
  height: 100px;
}

.whiteColor {
  color: white;
}

.head {
  padding-left: 10px;
  text-align: left;
}

.red {
  color: #EF5552;
}

.yellow {
  color: #F4CA19;
}

.fa-heart {
  color: #EF5552;
}

.light {
  animation: myColor 1.2s infinite;
}

@keyframes myColor {
  from {
    color: red;
  }
  to {
    color: #F4CA19;
    width: 12px;
    height: 12px;
  }
}

footer {
  top: auto;
  bottom: 0;
  height: 50px;
  float: none;
  position: fixed;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .divForFooter {
    position: relative;
    /* float: none; */
    margin-left: auto;
  }
}

.container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.block {
  width: 40%;
  text-align: center;
  margin-bottom: 30px;
}

.contImage {
  border: solid 1px #d0d8e5;
  height: 150px;
  width: 40%;
  border-radius: 10px 10px 0px 0px
}

.block input {
  display: block;
  margin: 0 auto;
}

.Btn {
  background-color: #EF5552;
  border-radius: 0 0 10px 10px;
  color: white;
  height: 35px;
  width: 210px;
  font-weight: bold;
}

.title {
  color: white;
}

.Btn:hover {
  background-color: #F4CA19;
  color: #3B5998;
}

.h1 {
  color: #6B6B6B;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
}

.h2 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #6B6B6B;
}

.footerText {
  padding-left: 595px
}

.hrefLabelStyle {
  margin-left: 20px;
}

.userName {
  padding: 5px;
  padding-left: 900px;
}

.userName a:hover {
  color: #F4CA19;
}

.dropbtn {
  background-color: #3B5998;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  color: #F4CA19;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: #3B5998;
  margin-left: 1000px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd
}

.show {
  display: block;
}

.marginForYou {
  display: block;
  margin: 0 auto;
}

.removeUnderline {
  text-decoration: none;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
  margin-top: -40px;
}

.centeredTitle {
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
}

.a:nth-child(odd) {
   background-color: #b3c2e2;
  text-overflow: ellipsis;
}

.a:nth-child(even) {

  background-color: #97a4c1;
  text-overflow: ellipsis;
}


.a {
  white-space: nowrap;
  width: 230px;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.a:hover {
  padding: 25px 10px;
  overflow:auto;
   white-space:normal;
  width: 230px;
   list-style-type: none;
  text-overflow: ellipsis;
  height:auto;
}
