<h1 class="h1">Welcome! <span class="h2">Choose the component you want to edit..</span></h1>


<section class="container">
  <div class="block">
    <img src="https://d2d3qesrx8xj6s.cloudfront.net/img/screenshots/a18a27c0f70c9c16001ff897bb75a4877be5435a.jpeg" class="contImage" alt="navbar">
    <a href="/navbar" class="removeUnderline"><button type="button" name="button" class="Btn marginForYou">Navbar</button></a>

  </div>
  <div class="block">
    <img src="https://cdn.colorlib.com/wp/wp-content/uploads/sites/2/Simple_Login_Form_Flat_UI.png" class="contImage" alt="login">
    <a href="/loginComponent" class="removeUnderline"><button type="button" name="button" class="Btn marginForYou">Login</button></a>

    <!-- <input type="button" name="" value="Login" class="Btn"> -->
  </div>
  <div class="block">
    <img src="https://stripo.email/wp-content/uploads/the-best-footer-design.jpg" class="contImage" alt="footer">
    <input type="button" name="" value="Footer" class="Btn">
  </div>
  <div class="block">
    <img src="https://designshack.net/wp-content/uploads/signup-forms-3.jpg" class="contImage" alt="signup">
    <input type="button" name="" value="Sign up" class="Btn">
  </div>

</section>
