<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
  <a href="/" ><img class="logo" src="images/papers.svg" alt="logo"></a>
  <div class="head">

    <a href="/" class="removeUnderline"><h1 class='whiteColor'><span class='yellow'>C</span>opy<span class='red'>P</span>aste</h1></a>
    <h2 class='whiteColor'>Get your code fast!</h2>

    <div class="right">
      {{#if name}}

        <div  class="dropdown" >
          <button class="dropbtn" onmouseover="myFunction()"><i onmouseover="myFunction()" class="fa">&#xf150;</i> {{capitalize name}}</button>
          <div id="myDropdown" class="dropdown-content">
            <a>Signed as: {{capitalize name}}</a>
            <hr>
            <a href="/userpage">Your profile</a>
            <a href="/">Home</a>
            <a href="/logout">Logout</a>
          </div>
        </div>

      {{else}}
        <div class="userName">
          <a href="/login" class="whiteColor">Log in </a> <span class="whiteColor">or</span>
          <a href="/signup" class="whiteColor"> Sign up</a>
        </div>

      {{/if}}
    </div>

  </div>
</header>

<script type="text/javascript" src="./js/header.js"></script>
